#formTitle, #emailTitle, #nameTitle,#feedbackTitle, #reviewTitle{
    font-family:'nunito black' ,sans-serif;
    font-weight: bold;
    color: #2b2d42;
    text-align: center;
}
#formTitle{
    margin-top: 2.5%;
	text-align: center;
}
#emailTitle, #nameTitle,#feedbackTitle, #reviewTitle{
    font-size: 20px;
    margin-left:10%;
}
#form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #C0C0C0;
}
#email, #user_id, #description {

    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid #C0C0C0;
}
#submit {
    background-color: #00D9A5;
    color: white;
    padding: 12px 20px;
    margin: 8px 10%;
    border-radius: 12px;
    border: 2px solid #C0C0C0;
    cursor: pointer;
    width: 80%;
    font-family:'nunito black' ,sans-serif;
}
#error {
    color: red;
    font-size: 20px;
    margin-left: 10%;
}
.overlay#blur.active {
    filter: blur(20px);

    -webkit-filter: blur(20px);
}

#popup.active {
    position:relative;
    top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   width:600px;
   padding:50px;
   box-shadow: 0 5px 30px rgba(0,0,0,.3);
   background:#FFFFFF;
    visibility:visible;
   opacity:1;
   transition:0.5s;
}
body {
    font-family:'nunito black' ,sans-serif;
    
}
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-left:10%;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: gold;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }