h1 {
    font-family: 'Nunito Black', sans-serif;
    color: #2B2D42;
    background-color: #c0c0c0;
    padding: 10px;
    text-align: center;
}
.action {
    text-decoration: none; /* Removes the underline */
    color: brown; /* Preserves the default text color */
}
.action:hover {
    text-decoration: underline; /* Adds the underline on hover */
    color: red; /* Changes the link color on hover */
}
#searchBar{
    position: relative;
    top:5px;
    margin-left: 18%;
}
#search{
    display: flex;
}
body {
    font-family: 'Nunito Black', sans-serif;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    background-color: #fff;
}

th, td {
    border: 1px solid #2B2D42;
    padding: 6px;
    text-align: left;
}

th {
    border: 1px solid #000000;
    background-color: #2B2D42;
    color: #fff;
}

tr{
    background-color: #F2F3F5;
}
