<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS Styles/styles.css">
</head>

<body align="center">
    <div id="navbar-container">
        <div id="navbar">
            <a href="listBills.php" target="mainFrame">Bills List</a>
            <a href="addBill.php" target="mainFrame">Add a bill</a>
            <a href="listEquipments.php" target="mainFrame">Equipments List</a>
            <a href="addequipment.php" target="mainFrame">Order Equipment</a>
            <a href="financialchart.php" target="mainFrame">Financials</a>
        </div>
    </div>
</body>

</html>
